@font-face {
  font-family: "RobotoC-300";
  src: url(../../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: "RobotoC-400";
  src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: "RobotoC-700";
  src: url(../../fonts/RobotoCondensed-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

input {
  border: none;
}

a {
  text-decoration: none;
}

main {
  margin-top: 80px;
}

.container, .container-md, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1320px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}