@font-face {
  font-family: "RobotoC-300";
  src: url(../../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: "RobotoC-400";
  src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: "RobotoC-700";
  src: url(../../fonts/RobotoCondensed-Bold.ttf);
}
